* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://kartinki.pics/pics/uploads/posts/2022-08/1660684625_2-kartinkin-net-p-fon-dlya-prezentatsii-pogoda-krasivo-2.jpg");
  background-position: center;
}

.container {
  max-width: 400px;
  backdrop-filter: blur(20px);
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

button {
  padding: 8px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.189);
}

button:hover {
  background-color: wheat;
  background: rgba(255, 255, 255, 3);
}

#weatherInfo {
  margin-top: 20px;
}

#locationInput, select {
  background-color: transparent;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px rgba(51, 50, 50, 0.644);
  margin-right: 10px;
}

.container h1{
  margin-bottom: 20px;
}